body{ font-family:'微软雅黑';}
/*主体*/
.article{ float:left; margin-top:6px; width:100%;}
.article:first-child{ margin-top:0;}
.half{ width:50%;*width: 49.999%;}
.article .wrap-l{ margin-right:3px;}
.article .wrap-r{ margin-left:3px;}

/*标题*/
.article .title{ position:relative; line-height:33px; background:url(../images/righttitlebig.png) repeat-x; border:1px solid #c1d3de; overflow:visible;}
.article .title h2{ float:left; margin-left:7px; padding-left:22px; font-weight:bold; font-size:14px; font-family:'宋体'; color:#000000; background:url(../images/titleico.png) no-repeat left center;}
.article .title h2.title-list{ top:-1px; left:-1px; z-index:1; position:absolute; background:none; margin-left:0; padding:0;}
.article .title h2 ul{}
.article .title h2 ul li{ width:98px;  border-left:1px solid transparent; border-right:1px solid transparent;float:left; padding-left:8px;}
.article .title h2 ul li a{ display:block;line-height:35px; padding-left:22px; color:#000; font-size:14px; font-weight:normal;}
.article .title h2 ul li.current{ border-left:1px solid #c1d3de; border-right:1px solid #c1d3de; background:url(../images/titlebg01.png) repeat-x;}
.article .title h2 ul li.current a{ background:url(../images/titleico.png) no-repeat left center; font-weight:bold;}
.article .title .more{ font-size:12px; float:right; margin-right:12px; color:#000; width:33px; background:url(../images/more.png) no-repeat right center;}
.article .title .more:hover{ text-decoration:underline;}

/*内容*/
.article .content{ border:1px solid #c1d3de; border-top:none;}
.article .content .toollist li{ margin:20px 0 12px 42px; float:left; width:52px; text-align:center;}
.article .content .toollist li:first-child{ margin-left:33px;}
.article .content .toollist li a.img{ display:block; width:48px; height:48px;}
.article .content .toollist li p a{ display:block; line-height:24px; font-size:13px; color:#000;}
.article .content .toollist li.add-btn{ height:72px; margin-left:22px; text-align:center; cursor:pointer;}
.article .content .toollist li.add-btn img{ margin-top:18px;}

/*通知公告*/
.notice .content, .matter .content{ padding-top:11px; height:138px;}
.notice .content .notice-list li{ line-height:25px;}
.notice .content .notice-list li .notice-title{ float:left; margin-left:14px; padding-left:17px; color:#000000; font-size:12px; background:url(../images/listico.png) no-repeat left center;}
.notice .content .notice-list li .notice-title:hover{ text-decoration:underline;}
.notice .content .notice-list li .notice-time{ float:right; margin-right:16px; color:#969696;}

/*待办事项/已办事项*/
.matter .content .matter-content{ display:none;}
.matter .content .current{ display:block;}
.matter .content .matter-content .today{ float:left; margin:6px 25px 0 17px; width:110px; background:url(../images/date.png) no-repeat;}
.matter .content .matter-content .today .year{ line-height:33px; font-size:13px; color:#ffffff; text-align:center;}
.matter .content .matter-content .today .date{ text-align:center;line-height:82px; color:#e22f1d; font-size:48px;}
.matter .content .matter-content .matter-list li{ line-height:25px;}
.matter .content .matter-content .matter-list li .matter-time{ float:left; padding-left:16px; width:36px; background:url(../images/listico.png) no-repeat left center; color:#969696;}
.matter .content .matter-content .matter-list li .matter-title{ float:left; margin-left:18px; color:#000;}
.matter .content .matter-content .matter-list li .matter-title:hover{ text-decoration:underline;}

/*领导值岗*/
.duty .content{ padding:8px 8px 0; height:190px;}
.duty .content table{ width:100%;}
.duty .content table tr{ line-height:30px;}
.duty .content table thead th{ font-weight:bold;}
.duty .content table .date{ width:55px; text-align:center;}
.duty .content table td.week{ width:82px; text-align:center;}
.duty .content table th.week{ padding-left:24px;}
.duty .content table .leader{ width:54px; padding-left:16px;}
.duty .content table .contact{ width:120px; padding-left:42px;}
.duty .content table .remark{ padding-left:33px; width:76px;}

/*邮件*/
.email .content{ height:198px;}
.email .content table{ width:100%;}
.email .content table thead tr{ line-height:24px; background:#f1f8fc; border-top:1px solid #fff; border-bottom:1px solid #d1e1ea;}
.email .content table thead tr th{ border-left:1px solid #fff; border-right:1px solid #c3d4de;}
.email .content table thead tr th:first-child{ border-left:none;}
.email .content table thead tr th.last-item{ border-right:none;}
.email .content table thead tr th.icon{ width:27px;}
.email .content table thead tr th.sender{ padding-left:9px; width:65px;}
.email .content table thead tr th.subject{ padding-left:5px; width:278px;}
.email .content table thead tr th.time{ padding-left:8px; width:96px;}
.email .content table tbody{}
.email .content table tbody tr{}
.email .content table tbody tr.tody td{ border-bottom:none;}
.email .content table tbody tr.tody td .td-wrap{ margin-right:6px; padding-top:8px; border-bottom:1px solid #c9d7df; line-height:22px;}
.email .content table tbody tr.tody td .td-wrap em{ margin-left:5px; font-weight:bold;}
.email .content table tbody tr.tody td .td-wrap a{ color:#0d6ba1;}
.email .content table tbody tr td{ height:24px;line-height:24px;}
.email .content table tbody tr td .td-wrap{border-bottom:1px dotted #b9ccd6;}
.email .content table tbody tr td:first-child .td-wrap{ margin-left:6px; }
.email .content table tbody tr td.time .td-wrap{ margin-right:6px;}
.email .content table tbody tr td.icon .td-wrap{ height:24px; background:url(../images/rmail.png) no-repeat center center;}
.email .content table tbody tr.open td.icon .td-wrap{height:24px; background:url(../images/rmail1.png) no-repeat center center;}
.email .content table tbody tr td.sender .td-wrap{ margin-left:9px;}
.email .content table tbody tr td.subject .td-wrap{ margin-left:4px;}
.email .content table tbody tr td.subject .td-wrap a{ color:#000;}
.email .content table tbody tr td.subject .td-wrap a:hover{ text-decoration:underline;}
.email .content table tbody tr td.time .td-wrap{ margin-left:10px; color:#969696;}